
<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>충청 남도 어디갈까?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<span><a href="http://localhost:3000/" class="logo"><strong>충청 남도 어디갈까?</strong></a></span>
									<h1>chungnam? </h1>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
                                    <span class="image object">
										<img src="https://i.namu.wiki/i/3Jh-JXbvbXqCOVwruqUnX2Ze8P_64nlIwB_3cVnfmj0jhJKpLsPJYVGqunwtLRGPKM4zIpCfMtsCQ1neGi2KBtiNs1OtnRIqz4MN0Bnel8qraWCeEuvmiSo-Ysq5KUHhzbi8AdIHNqRLu1gW5JOgoQ.svg" alt="" />
									</span>
									<header>
                                        <h1>힘쎈충남, <br>대한민국의<br> 힘</h1>

                                    </header>
								</section>
                                <section id="banner">
									<div class="content">
                                        <header class="major">
                                            <h2>지리적특성</h2>
                                        </header>
										<header>
											<p>동쪽으로는 대전광역시·세종특별자치시·충청북도, 북쪽으로는 경기도, 남쪽으로는 전라북도와 인접하고 있다. 산하에 8시 7군의 기초자치단체가 있다.</p>
										</header>
										<p>서쪽으로는 황해와 면해있다. 수도권 지하철 1호선이 신창역까지 이어져있어 교통이 편리하다. ktx가 천안아산, 공주역, 계룡역, 논산역에 정차한다.</p>
									</div>
									<span class="image object">
										<img src="images/충남지도.png" alt="" />
									</span>
								</section>  


							
                            <!-- Section -->
								<section>
									<header class="major">
										<h2>특산물</h2>
									</header>
									<div class="content">
										<p>서해와 인접해 있기 때문에 수산물이 풍부한 편으로 특히 강경과 광천을 중심으로 젓갈 생산이 활발하다.<br>

                                            농산물로는 쌀, 인삼, 마늘, 사과, 밤 등의 재배와 생산이 성한 편으로, 서산시에서 생산하는 육쪽마늘과 뜸부기쌀, 생강, 금산군에서 생산하는 인삼, 깻잎, 예산군에서 생산하는 사과, 청양군에서 생산되는 구기자, 논산시에서 생산하는 딸기, 공주시와 부여군에서 생산하는 밤, 천안시에서 생산되는 호두의 품질은 전국 최고로 인정된다.
                                            
                                            <br>홍성군은 축산업이 발달한 곳으로 국내 최대 양돈 사육지역이며 한우 사육 두수면에서도 전국 최대 규모를 자랑한다.</p>
									</div>
								</section>
                            <!-- Section -->
								<section>
									<header class="major">
										<h2>충남에 위치한 대학교</h2>
									</header>
									<div class="content">
										<p>경찰대학 · 공주교육대학교 · 공주대학교 ·
                                            한국전통문화대학교 ·
                                            건양대학교(창의융합캠퍼스) · 고신대학교 · 금강대학교 ·
                                            나사렛대학교 · 남서울대학교 ·
                                            단국대학교(천안캠퍼스) ·
                                            백석대학교 ·
                                            상명대학교(천안캠퍼스) · 선문대학교 · 세한대학교 · 순천향대학교 ·
                                            유원대학교(아산캠퍼스) ·
                                            중부대학교 ·
                                            청운대학교 ·
                                            한국기술교육대학교 · 한서대학교 · 호서대학교</p>
                                            <p>총 21한개의 대학교가 있다.</p>
									</div>
								</section>    
							<!-- Section -->
								<section>
									<header class="major">
										<h2>관련 뉴스</h2>
									</header>
									<div class="posts">
										<article>
											<a href="https://www.joongang.co.kr/article/25151909#home" class="image"><img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202304/02/cdcabd8e-1d07-48a8-a17b-fee9a8c76faf.jpg" alt="" /></a>
											<h3>"예산시장 재개장 첫날 1만5000명 몰렸다"</h3>
											<p>예산시장은 지난 1월 백종원 더본코리아 대표와 함께 추진한 ‘예산시장 살리기 프로젝트’로 단숨에 전국적인 명소로 떠올랐다</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="https://geniusjw.com/2800#google_vignette" class="image"><img src="https://blog.kakaocdn.net/dn/laGjK/btrXdNoMXHO/4RZZvSedgj8EaBVtEh6jtk/img.jpg" alt="" /></a>
											<h3>"아산 인절미 탕수육"</h3>
											<p>레트로한 감성의 이색 중국집</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>Tempus ullamcorper</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3>Sed etiam facilis</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3>Feugiat lorem aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3>Amet varius aliquam</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!--logo-->
							<header id="header">
								<h2><a href="http://localhost:3000/" class="logo">Chungnam <br> Where you want.</a></h2>
							</header>
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="http://localhost:3000/">들어가기전..</a></li>
										<li><a href="chungnam">충청남도 소개</a></li>
										<li>
											<span class="opener">추천음식점</span>
											<ul>
												<li><a href="food">충남 추천 맛집</a></li>
												<li><a href="safe">모범음식점</a></li>
											</ul>
										</li>
										<li><a href="room">숙박업소</a></li>
										<li><a href="tour">관광명소</a></li>
										<li>
											<span class="opener">게시판</span>
											<ul>
												<li><a href="review">게시글 보기</a></li>
												<li><a href="write">게시글 쓰기</a></li>
											</ul>
										</li>
										<li><a href="info">관련 사이트</a></li>
									</ul>
								</nav>




							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 2023.김효진 All rights reserved. | Tel: 010-9998-0172 e-mail: koj858@naver.com | Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/stylesheets/assets/js/jquery.min.js"></script>
			<script src="/stylesheets/assets/js/browser.min.js"></script>
			<script src="/stylesheets/assets/js/breakpoints.min.js"></script>
			<script src="/stylesheets/assets/js/util.js"></script>
			<script src="/stylesheets/assets/js/main.js"></script>

	</body>
</html>