<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>충청 남도 어디갈까?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<span><a href="http://localhost:3000/" class="logo"><strong>충청 남도 어디갈까?</strong></a></span>
									<h1>Introduction </h1>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>충청남도가서<br />
											뭐하지?</h1>
											<p>고민을 해결해 줄 딱좋은 사이트💻</p>
										</header>
										<p>충청남도의 추천 음식점이 있나? 관광 명소는 어떤 곳 일까? 숙박 업소는 어떤곳이 있을까? 충청남도 구석구석 지금 쉽고 빠르게 찾아보세요~!</p>
										<ul class="actions">
											<li><a href="chungnam" class="button big">Try More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/관람차.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>홈페이지 개발자</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-solid fa-user"></span>
											<div class="content">
												<h3>김효진</h3>
												<p>Back-End<br />호서대학교 컴퓨터공학부 4학년<br />nodejs, express, 데이터베이스(mysql)</p>
											</div>
										</article>
										<article>
											<span class="icon fa-sharp fa-solid fa-user"></span>
											<div class="content">
												<h3>임재성</h3>
												<p>Front-End<br />호서대학교 컴퓨터공학부 4학년<br />html, css, javascripts</p>
											</div>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!--logo-->
							<header id="header">
								<h2><a href="http://localhost:3000/" class="logo">Chungnam <br> Where you want.</a></h2>
							</header>
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="http://localhost:3000/">들어가기전..</a></li>
										<li><a href="chungnam">충청남도 소개</a></li>
										<li>
											<span class="opener">추천음식점</span>
											<ul>
												<li><a href="food">충남 추천 맛집</a></li>
												<li><a href="safe">모범음식점</a></li>
											</ul>
										</li>
										<li><a href="room">숙박업소</a></li>
										<li><a href="tour">관광명소</a></li>
										<li>
											<span class="opener">게시판</span>
											<ul>
												<li><a href="review">게시글 보기</a></li>
												<li><a href="write">게시글 쓰기</a></li>
											</ul>
										</li>
										<li><a href="info">관련 사이트</a></li>
									</ul>
								</nav>




							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 2023.김효진 All rights reserved. | Tel: 010-9998-0172 e-mail: koj858@naver.com | Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/stylesheets/assets/js/jquery.min.js"></script>
			<script src="/stylesheets/assets/js/browser.min.js"></script>
			<script src="/stylesheets/assets/js/breakpoints.min.js"></script>
			<script src="/stylesheets/assets/js/util.js"></script>
			<script src="/stylesheets/assets/js/main.js"></script>

	</body>
</html>